<footer class="main-footer">
  <div class="footer-container">

    <div class="footer-section">
      <h2 class="logo">StayScape</h2>
      <p class="footer-about">
        Your trusted partner for finding PGs, Hostels & Rental Rooms. 
        Comfortable living made simple.
      </p>
    </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/explore">Explore</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Contact</h3>
      <p>Email: rshakya6736@gmail.com / vijay6736@gmail.com
      </p>
      <p>Phone: +91 9653822330</p>
      <p>Location: Jaipur, Rajasthan</p>
    </div>

    <div class="footer-section">
      <h3>Follow Us</h3>
      <div class="social-links">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    © 2025 StayScape — All Rights Reserved.
  </div>
</footer>
