 <div class="nav">
            <div class="stayScape"><i class="fa-solid fa-house-chimney-window chimney"></i><p class="stay">StayScape</p></div>
              <div class="icons">
                 <a class="Explore" href="/">Home</a>
                <a class="Explore" href="/explore">Explore</a>
                <a class="Destinations" href="#">Destinations</a>
                <a class="About" href="/dashboard">My Account</a>
              </div>

            <div class="left-nav">
                <i class="fa-solid fa-heart"></i>
               <a href="/signup"> <i class="fa-solid fa-user"></i></a>
                <form>
                    <button class="list">List Property</button>
                </form>
            </div>
        </div>
 
     <div>
    