body{
    background-color: #fcf6ef;
    font-family: 'segoe UI',Arial, sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 32px,8vw;

}
.logo{
    font-size:1.8rem;
    font-weight: bold;
    color: #868867;
font-family: 'Courier New', Courier, monospace;

}
nav{
    display: flex;
    align-items: cnter;
    gap:2vw;
}
nav a{
    text-decoration: none;
    color:#222;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
    transition:color 0.2s

}
nav a:hover{
    color: #c2663a;

}
.login.btn{
    margin-left: 1.5vw;
    background-color: none;
    border:1px solid #a3a099;
    color: #a3a099;
    padding: 6px 18px;
    border-radius: 20px;
    font-size:1rem;
    cursor: pointer;
    transition:background 0.2s, color 0.2s;
}
.login-btn:hover{
    background:#a3a099 ;
    color: #fff;
}
main{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    position: relative;
}
.form-container{
    background: rgba(255,255,255,0.87);
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(211,181,165,0.17);
    max-width: 500px;
    margin: 5vw 0 0 0;
    z-index: 1;
  
}
 h2{
    margin-bottom: 25px;
    font-size: 2rem;
    color: #c2663a;
    font-family: 'Georgia',serif;
}
form{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
input, select, textarea{
    width: 100%;
    border: 1.5px solid #bdbdbd;
    border-radius: 0 20px 0 20px;
    padding: 13px 14px;
    font-size: 1rem;
    background: #fff8f1;
    outline: none;
    resize: none;
    transition: border-color 0.2s;
    font-family: inherit;
}
input:focus, select:focus,textarea:focus{
    border-color: #c2663a;
}
textarea{
    min-height: 65px;
}
.btn[type="submit"]{
    background: #924213;
    color: #fff;
    border: none;
    border-radius: 0 15px 0 15px;
    padding: 13px 0;
    font-size: 1.08rem;
    font-weight: 400;
    cursor: pointer;
    transition:background 0.2s;
    width: 200px;
}

.btn[type="submit"]:hover{
    background: #a86130;
}
@media (max-width:800px){
    main{
        flex-direction: column;
        align-items: center;
    }
        .decorative-image.right{
            display: none;
        }
    }
.vase-img{
    position: absolute;
    right: 7vw;
    top: 23vh;
    width: 180px;
    border-radius: 18px 45px 75px 5px;
    box-shadow: 0 4px 25px rgba(173,140,108,0.18);
    z-index: 2;
}
.background-shapes::before{
    top:33vh;
    left: 8vw;
    width: 140px;
    height: 90px;
    background: #ffe3d1;
    border-radius: 60% 40% 32% 68%;

}
.background-shapes::after{
    top: 60vh;
    right: 12vw;
    width: 120px;
    height: 75px;
    background: #dedede;
    border-radius:54% 46% 61% 39% ;
}
.leaf{
    width: 40vh;
    height: 200px;
    background-image: #fcf6ef;
   position: relative;
    left: 6rem;
    bottom: 0.8;
    opacity: 0.75;
    
}
.flw{
    width: 200px;
    height: 200px;
    position: absolute;
    left:0;
    bottom: 0;
 opacity: 0.65;
 
}
