body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
   

  background:#f6f7fb;
  padding: 24px;

   
}
.menu{
    background-color: black;
    width: 100%;
    height: 2.5rem;
    color: white;
}
.display{
    background-color: gray;
    width: 100%;
    height: 20rem;
    margin-top: 0.1rem;
}
.box{

    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    height:20rem ;
    width: 100%;
}
.num1{
    background-color: rgb(177, 222, 233);
    width: 155px;
height: 20rem;
}
.num2{
     background-color:rgb(124, 219, 231);
    width: 155px;
height: 20rem;
}
.num3{
     background-color: rgb(74, 149, 219);
    width: 155px;
height: 20rem;
}
.num4{
     background-color: rgb(86, 209, 158);
    width: 155px;
height: 20rem;
}
.num5{
     background-color: rgb(81, 156, 206);
    width: 155px;
height: 20rem;
}
.num6{
     background-color: rgb(150, 240, 76);
    width: 155px;
height: 20rem;
}
.num7{
     background-color: rgb(172, 80, 172);
    width: 155px;
height: 20rem;
}
.login-box{
 
    position:absolute;
    top:380px;
    left:340px;
    height: 160px;
    width: 950px;
    background-color: rgba(255, 255, 255,1);  
    border-radius: 10px 10px 10px 10px;
}

.bt{
    background-color: #ff4500;
    color: white;
    position: absolute;
    left: 350px;
    top: 120px;
    border: 0;
    width: 200px;
    border-radius: 10px 10px 10px 10px ;
    height: 30px;
}
.nav{
    width:100px;
    height:100px;
}
.stayScape{
    display:flex;
    position:absolute;
      left:15px;
        top:20px;
    
}
.stayScape i{
    color:red;
    font-size:20px;
    margin-left:10px;
    margin-top:13px;

}
.icons{
    display:flex;
    position:absolute;
    top: 30px;
    left:650px;
}
.Explore{
    margin-right:20px;
    text-decoration:none;
    color:black;
    font-size:20px;
}
.Destinations{
       margin-right:20px;
    text-decoration:none;
    color:black;
    font-size:20px;
}
.About{
    text-decoration:none;
    color:black;
    font-size:20px;
}
.left-nav{
    display:flex;
    position:absolute;
    right:60px;
    top:25px;
}
.stay{
    margin-left:10px;
    margin-bottom:30px;
}
.fa-heart{

    margin-left:100px;
    
}
.left-nav{
    width:300px;
}
.fa-user{
    margin-left:40px;
    margin-right:40px;
    
}
.list{
width:120px;
height:25px;
border:2px solid black;
border-radius:10px;
}

.images{
   
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:100px;
    left:38px;
      position: relative;
  z-index: 0;
}
.images img{
     width: 250px;        
  height: 400px;
    border-radius: 10px;
  object-fit: cover;
   margin-left: -80px;    
  border:2px solid white;
    transition: transform 0.3s, z-index 0.3s;
  cursor: pointer;
}

.images img:hover {
  transform: translateY(-35px) translateX(-35px)scale(1.15); 
  z-index: 10; 
  
}
.images::after {
  content: "";
  position: absolute;
  top: 0; left:-28px;
  width: 1463px; height: 100%;
  background-color: rgba(166, 119, 38, 0.45);  
  pointer-events: none;
  border-radius:10px;
}
.login-div{
    display:flex;
}
.all{
    margin-top:50px;
}
.div-location input{
    margin-bottom:50px;
    width:280px;
    height:40px;
    border:2px solid black;
    border-radius:10px;
}
.div-chkin input{
    width:225px;
    height:40px;
    border:2px solid black;
    border-radius:10px;
}
.div-chkout input{
    width:225px;
    height:40px;
    border:2px solid black;
    border-radius:10px;
}
.login-box i{
    position:absolute;
    top:65px;
    margin-left:10px;
}
.bt i{
    position:absolute;
    top:8px;
    left:-3px;
}
.label-i{
    position:absolute;
    top:30px;
    left:350px;
}
.label-o{
    position:absolute;
    top:30px;
    right: 290px;
}
.label-c{
    position:absolute;
    top:30px;
   left: 50px;
}
.div-chkin{
    margin-left:10px;
}
.div-chkout{
   margin-left:10px; 
}
.div-location{
   margin-left:40px; 
}
.second {
  position: relative;
}
.name {
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  text-align: center;
  z-index: 2;
  color: white;
}
