body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
   

  background:#f6f7fb;
  padding: 24px;

   
}
.menu{
    background-color: black;
    width: 100%;
    height: 2.5rem;
    color: white;
}
.display{
    background-color: gray;
    width: 100%;
    height: 20rem;
    margin-top: 0.1rem;
}
.box{

    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    height:20rem ;
    width: 100%;
}
.num1{
    background-color: rgb(177, 222, 233);
    width: 155px;
height: 20rem;
}
.num2{
     background-color:rgb(124, 219, 231);
    width: 155px;
height: 20rem;
}
.num3{
     background-color: rgb(74, 149, 219);
    width: 155px;
height: 20rem;
}
.num4{
     background-color: rgb(86, 209, 158);
    width: 155px;
height: 20rem;
}
.num5{
     background-color: rgb(81, 156, 206);
    width: 155px;
height: 20rem;
}
.num6{
     background-color: rgb(150, 240, 76);
    width: 155px;
height: 20rem;
}
.num7{
     background-color: rgb(172, 80, 172);
    width: 155px;
height: 20rem;
}
.login-box{
    height: 100px;
    width: 750px;
    background-color:white;
    border-radius: 10px 10px 10px 10px;
}
.login-box{
    position: absolute;
    top: 150px;
    left: 150px;
}
.bt{
    background-color: orangered;
    color: white;
    position: absolute;
    left: 300px;
    top: 50px;
    border: 0;
    width: 150px;
    border-radius: 10px 10px 10px 10px ;
    height: 30px;
}
.nav{
    width:100px;
    height:100px;
}
.stayScape{
    display:flex;
    position:absolute;
      left:15px;
        top:20px;
    
}
.stayScape i{
    color:red;
    font-size:20px;
    margin-left:10px;
    margin-top:13px;

}
.icons{
    display:flex;
    position:absolute;
    top: 30px;
    left:650px;
}
.Explore{
    margin-right:20px;
    text-decoration:none;
    color:black;
    font-size:20px;
}
.Destinations{
       margin-right:20px;
    text-decoration:none;
    color:black;
    font-size:20px;
}
.About{
    text-decoration:none;
    color:black;
    font-size:20px;
}
.left-nav{
    display:flex;
    position:absolute;
    right:60px;
    top:25px;
}
.stay{
    margin-left:10px;
    margin-bottom:30px;
}
.fa-heart{

    margin-left:100px;
    
}
.left-nav{
    width:300px;
}
.fa-user{
    margin-left:40px;
    margin-right:40px;
    
}
.list{
width:120px;
height:25px;
border:2px solid black;
border-radius:10px;
}

.images{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    position:relative;
}
.images img{
     width: 180px;        
  height: 180px;
    border-radius: 10px;
  object-fit: cover;
   margin-left: -80px;     /* negative margin = overlap (50%) */
  border: 2px solid #fff;
    transition: transform 0.3s, z-index 0.3s;
  cursor: pointer;
}
.image-row img:first-child {
  margin-left: 0;
}
.images img:hover {
  transform: translateY(-20px) scale(1.1); /* upar uthna + thoda bada hona */
  z-index: 10; /* sabse upar chala jaye hover par */
}