<%-layout("layouts/boilerplate")%>
<div>
         <div class="second">
            <div class="name">
                 <h1 class="find">Find Your Perfect Stay</h1>
              <h2 class="discover">Discover Unique Properties Around The World</h2>
            </div>
            <div class="images">
             
<img src="/images/rental-image/aes-reuIAvaxUMk-unsplash.jpg" class="img1">
<img src="/images/rental-image/brian-babb-XbwHrt87mQ0-unsplash.jpg" class="img2">
<img src="https://images.pexels.com/photos/10511429/pexels-photo-10511429.jpeg" class="img3">
<img src="/images/rental-image/max-williams-mcjPNcOHFSs-unsplash.jpg" class="img4">
<img src="https://images.pexels.com/photos/30977072/pexels-photo-30977072.jpeg" class="img5">
<img src="https://images.pexels.com/photos/6835133/pexels-photo-6835133.jpeg" class="img6">
<img src="https://images.pexels.com/photos/18026520/pexels-photo-18026520.jpeg" class="img7">


                <!-- <img class="img8" src="./rentall photo/milin-john-0DJ9q8n6BWM-unsplash.jpg"> -->
            </div>
         </div>
           
        </div>

        
        <div class="login-box">
          
          <form method="POST" action="/search">
            <div class="login-div">
           <label class="label-c" for="location">Location</label>
              <div class="div-location all">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" name="location" id="location" placeholder="   enter the location" required>
            </div>

            <label class="label-i" for="check">Check in</label>
             <div class="div-chkin all">
                <i class="fa-solid fa-calendar"></i>
                <input type="number" name="checkin" id="check" placeholder="  check in">
            </div>

            <label class="label-o" for="checkout">Check out</label>

            <div class="div-chkout all">
                <i class="fa-solid fa-calendar"></i>
                <input type="number" name="checkout" class="Addinput" id="checkout" placeholder="  Add dates">
            </div>
            <button class="bt"><i class="fa-solid fa-magnifying-glass"></i> Search Properties</button>
            </div>
            </form>
        </div>
        </div>